apiVersion: apps/v1
kind: Deployment
metadata:
  name: sid-deployment
  labels:
    app: nginx
spec:
  replicas: 3
  selector:
    matchLabels:
      apptype: frontend
      env: dev
  template:
    metadata:
      labels:
        apptype: frontend
        env: dev
    spec:
      containers:
      - name: nginx
        image: nginx:1.16.1
       
kubectl annotate deployment/sid-deployment kubernetes.io/change-cause="image updated to 1.14.2"